<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="connstr" connectionString="server=129.28.68.220;port=3306;user=root;password=123456; database=cxjz;"/>
  </connectionStrings>
</configuration>
